.content{
    // padding: 0 15rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro{
    margin:0 15rem;
    width: 50%;
}

.register{
    margin:0 10rem;
    width: 50%;
}